.password-input {
    position: relative;
  }
  
  .password-input input {
    padding-right: 30px;
  }
  
  .password-input svg {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .user-field-container {
    position: relative;
  }
  
  .edit-icon {
    position: absolute;
    color: #0040B5;
    bottom: 20px; 
    right: 10px; 
  }