.light-theme {
  background-color: #ffffff;
  color: #000000;
}

.dark-theme {
  background-color: #333333;
  color: #ffffff;
}

body.light-theme {
  background-color: #ffffff;
  color: #000000;
}

body.dark-theme {
  background-color: #333333;
  color: #ffffff;
}

.small-font {
  font-size: 14px;
}

.medium-font {
  font-size: 16px;
}

.large-font {
  font-size: 18px;
}